Fluxo_Processamento de Ofertas_170925.json
{
  "name": "Processamento de Ofertas",
  "nodes": [
    {
      "parameters": {
        "path": "processar-ofertas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6ea70d22-1734-4aff-b76d-7e1317c1abc7",
      "name": "Webhook Ofertas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        32
      ],
      "webhookId": "processar-ofertas-webhook"
    },
    {
      "parameters": {
        "table": "ofertas",
        "columns": {
          "columns": [
            {
              "name": "supermercado_id",
              "value": "={{ $json.body.supermercado_id }}"
            },
            {
              "name": "produto_nome",
              "value": "={{ $json.body.produto_nome }}"
            },
            {
              "name": "preco",
              "value": "={{ $json.body.preco }}"
            },
            {
              "name": "url_imagem",
              "value": "={{ $json.body.url_imagem }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "3c9d34c7-4280-4786-b2c6-5f1e565961b1",
      "name": "Inserir Ofertas no Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -80,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "jQtJl3QWWO6TD3BU",
          "name": "Credencial Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { 'status': 'success', 'message': 'Ofertas recebidas' } }}",
        "options": {}
      },
      "id": "49c340b0-7b5c-4870-abc1-cfb4163e063a",
      "name": "Resposta Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Ofertas": {
      "main": [
        [
          {
            "node": "Inserir Ofertas no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Ofertas no Supabase": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c197158-d4ff-405f-baed-59c2678d1aca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "272cce8fc0734a5b88fc72593c2bf0ac21199d31350ff75ad4c8ac06e3fa2f93"
  },
  "id": "xN7s2MC9dVPXJkkm",
  "tags": []
}