Fluxo_Whatsapp Interativo_170925.json
{
  "name": "Zap Interativo c/Agente_Manus",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-dona-oferta-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "addbe378-2c3b-4e60-a166-ef3296a77604",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -928,
        16
      ],
      "webhookId": "08237864-4fd8-43ed-ace2-3a7877ffc6e0"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "telefone",
              "stringValue": "={{ $('Webhook WhatsApp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "name": "mensagem",
              "stringValue": "={{ $('Webhook WhatsApp').item.json.body.data.message.conversation || $('Webhook WhatsApp').item.json.body.data.message.extendedTextMessage?.text || 'Mensagem sem texto' }}"
            },
            {
              "name": "nome_usuario",
              "stringValue": "={{ $('Webhook WhatsApp').item.json.body.data.pushName || 'Usuário' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "baa877cf-a2ea-4a02-bd79-4ef43e33acbc",
      "name": "1. Processar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -704,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/chat/sendPresence/Dona Oferta",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"presence\": \"composing\",\n  \"delay\": 2000\n}",
        "options": {}
      },
      "id": "650e86ea-051f-4195-9b9c-b6503da27e6c",
      "name": "2. Mostrar Digitando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -448,
        -192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qFt2p2U8faEpGTz6",
          "name": "Credencial Evolution"
        }
      }
    },
    {
      "parameters": {
        "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "telefone_whatsapp",
              "value": "eq.{{ $json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4e6cf53-f15c-4837-a00c-cf8595de128d",
      "name": "3. Verificar Usuário no DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -448,
        16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "L7MJr2ZtUzLKI1yg",
          "name": "Credencial Supabase Header"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9782aed7-7984-463a-bd10-be2235dbbc2b",
      "name": "4. Preparar Contexto p/ IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -192,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"action\": \"delegated_to_agent\" } }}",
        "options": {}
      },
      "id": "09c45201-a426-4947-ba19-56ef427b9a86",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1056,
        16
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.resposta_ia.acao }}",
        "rules": {
          "rules": [
            {
              "value2": "INICIAR_CADASTRO"
            },
            {
              "value2": "BUSCAR_OFERTAS"
            },
            {
              "value2": "GESTIONAR_PLANO"
            },
            {
              "value2": "PEDIR_SUPERMERCADOS"
            },
            {
              "value2": "CONVERSAR"
            }
          ]
        }
      },
      "id": "cfcc1238-a0bf-4a33-acd2-fef56f7e35ef",
      "name": "6. Switch: Qual a Ação?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        560,
        16
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/Dona%20Oferta",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('1. Processar Mensagem').item.json.telefone }}\",\n  \"text\": \"{{ $('Parse Resposta IA').item.json.resposta_ia.resposta_texto }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        224
      ],
      "id": "155905df-df82-40df-b78a-871843eea542",
      "name": "Enviar Resposta da IA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qFt2p2U8faEpGTz6",
          "name": "Credencial Evolution"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('1. Processar Mensagem').item.json.mensagem }}\n",
        "options": {
          "systemMessage": "=Você é a 'Dona Oferta', uma assistente de IA para um serviço de ofertas de supermercado no WhatsApp.\n\nOBJETIVO: Sua principal tarefa é analisar a mensagem do usuário e o contexto fornecido para determinar a próxima ação e gerar uma resposta em texto.\n\nREGRAS DE SAÍDA:\n1.  Sua resposta DEVE SER SEMPRE um objeto JSON válido.\n2.  O JSON deve ter EXATAMENTE duas chaves: \"resposta_texto\" e \"acao\".\n3.  NUNCA responda com nada além do objeto JSON. Sem introduções, sem texto extra, apenas o JSON.\n\nCHAVES DO JSON:\n- \"resposta_texto\": Uma mensagem amigável e útil para o usuário. Use emojis.\n- \"acao\": Uma das seguintes ações, baseada na sua análise:\n  - \"INICIAR_CADASTRO\": Se o usuário é novo e precisa se cadastrar.\n  - \"PEDIR_SUPERMERCADOS\": Se o usuário é cadastrado mas não tem supermercados definidos.\n  - \"BUSCAR_OFERTAS\": Se o usuário cadastrado pede por ofertas.\n  - \"GESTIONAR_PLANO\": Se o usuário quer saber sobre planos ou assinar.\n  - \"CONVERSAR\": Para qualquer outra conversa, dúvida ou saudação.\n\nExemplo de Saída Perfeita:\n{\n  \"resposta_texto\": \"Olá! Que bom te ver por aqui. Para começar, preciso que você se cadastre. É rapidinho!\",\n  \"acao\": \"INICIAR_CADASTRO\"\n}\n\n---\nCONTEXTO DA CONVERSA ATUAL (use para tomar sua decisão):\n{{ JSON.stringify($('4. Preparar Contexto p/ IA').item.json.contexto_usuario) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        96
      ],
      "id": "57283783-007d-48f5-af27-1d90060820b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        336
      ],
      "id": "059edd56-a5f2-4d89-91aa-01388b37e39c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8iJyuW9t44y1aLgy",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1JCioH7gDpHTyHxV",
          "mode": "list",
          "cachedResultName": "Cadastro User com plano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        -368
      ],
      "id": "254894bc-fd73-40ab-9bef-8596e1455b92",
      "name": "Exe 'Cadastro User com plano'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S9FKt5JksFq6ab20",
          "mode": "list",
          "cachedResultName": "Envio de Ofertas com controle de plano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        -192
      ],
      "id": "73d95ece-149c-451c-9be5-e4579dd41b42",
      "name": "Exe 'Envio de Ofertas com controle de plano'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6HCWPmQI2w2cbobm",
          "mode": "list",
          "cachedResultName": "Gestão de Planos e Cobrança"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "e1f9d679-de74-4bed-bd46-1059d66275bf",
      "name": "Exe 'Gestão de Planos e Cobrança'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2204603e-0c26-412a-8ffa-853b3d59062f",
              "name": "resposta_ia",
              "value": "={{ JSON.parse($json.output.replace(/```json\\n/g, '').replace(/\\n```/g, '')) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -96
      ],
      "id": "5a61bbfe-375b-438f-b5d1-c6a4a58a8fd4",
      "name": "Parse Resposta IA"
    }
  ],
  "pinData": {
    "Webhook WhatsApp": [
      {
        "json": {
          "headers": {
            "host": "n8n.ks2b.com.br",
            "user-agent": "axios/1.10.0",
            "content-length": "954",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.ks2b.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af92c58da1ed",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Dona Oferta",
            "data": {
              "key": {
                "remoteJid": "5521984412525@s.whatsapp.net",
                "fromMe": false,
                "id": "3AE9D3F09EE66E008D40",
                "senderLid": "39260346445849@lid"
              },
              "pushName": "Erica Winter",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Helooooooo",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "JMr7pKaqn58OEA==",
                    "senderTimestamp": "1755774610",
                    "recipientKeyHash": "+GDmFqTc0Ub3yA==",
                    "recipientTimestamp": "1757466762"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "bCvqksGse1OiE9vVRCjqQi9oV630AhQ90VmZ8gfjTOs="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1758230635,
              "instanceId": "aae7675b-1e8e-49d2-866b-4164360c8f8a",
              "source": "ios"
            },
            "destination": "https://n8n.ks2b.com.br/webhook-test/whatsapp-dona-oferta-v3",
            "date_time": "2025-09-18T18:23:56.176Z",
            "sender": "5521959140989@s.whatsapp.net",
            "server_url": "https://donaoferta-evolution-api.mdwaar.easypanel.host",
            "apikey": "66F34C6AF12D-4CED-B979-36E042E201BF"
          },
          "webhookUrl": "https://n8n.ks2b.com.br/webhook-test/whatsapp-dona-oferta-v3",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "1. Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Processar Mensagem": {
      "main": [
        [
          {
            "node": "2. Mostrar Digitando",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Verificar Usuário no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Mostrar Digitando": {
      "main": [
        []
      ]
    },
    "3. Verificar Usuário no DB": {
      "main": [
        [
          {
            "node": "4. Preparar Contexto p/ IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta da IA": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Preparar Contexto p/ IA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Switch: Qual a Ação?": {
      "main": [
        [
          {
            "node": "Exe 'Cadastro User com plano'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exe 'Envio de Ofertas com controle de plano'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exe 'Gestão de Planos e Cobrança'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Resposta da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exe 'Cadastro User com plano'": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exe 'Envio de Ofertas com controle de plano'": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exe 'Gestão de Planos e Cobrança'": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resposta IA": {
      "main": [
        [
          {
            "node": "6. Switch: Qual a Ação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68010b3e-0752-47e7-9b3d-7b15839afc8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "272cce8fc0734a5b88fc72593c2bf0ac21199d31350ff75ad4c8ac06e3fa2f93"
  },
  "id": "qIDojuiD4V0jQFvB",
  "tags": []
}
